.constant-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 320px;
    height: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.set-values {
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;

    position: sticky;
    top: 80px;
    background-color: #f8f9fa;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.value-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 5px;
}

.value-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
}