table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    overflow: auto;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 90px;
    max-width: 250px;
}

tbody input {
    width: 200px;
}

th {
    background-color: #f2f2f2;
}

.table-container input {
    border: none;
}
