<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
	<!-- added by Victor -->
	<add key="HOST_NAME" value="almcsc.saas.microfocus.com/qcbin"/>
    <add key="TEST_LAB_MOUDLE_ID" value="000000003649890581"/>
    <add key="Test Set Target Cycle" value="CY_ASSIGN_RCYC"/>
    <add key="Test Set Baseline" value="CY_PINNED_BASELINE"/>
    <add key="Test Set Description" value="CY_COMMENT"/>
	  
    <add key="username" value="apikey-fsttpnmlgsbskmfglqio" />
    <add key="password" value="paoabeellgcibiko" />
    <add key="domain" value="Data_Collections" />
    <add key="project" value="DATA_COLLECTIONS" />
	  
	  <add key="Test Environment" value="CY_USER_01" />
    <add key="Global TimeOut" value="CY_USER_02" />
    <add key="Global Attempts" value="CY_USER_03" />
    <add key="Test Case Version" value="CY_USER_04" />
    <add key="Automation Database" value="CY_USER_05" />
    <add key="Automation Library Version" value="CY_USER_06" />
    <add key="Application" value="CY_USER_07" />
    <add key="Application Collection" value="CY_USER_08" />
    <add key="Browser" value="CY_USER_09" />
    <add key="Build Number" value="CY_USER_11" />
    <add key="Responsible Tester" value="TC_TESTER_NAME"/>	  
    <add key="ALMURL" value="https://almcsc.saas.microfocus.com/qcbin/" />
  </appSettings>
  <!--<system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>-->
</configuration>