<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--Automatically set Framework Version which is used for reporting. If local, then will be LOCAL-->
		<add key="TEST_FRAMEWORK_VERSION" value="#{TEST_FRAMEWORK_VERSION}#" />

		<!--Indicates where to get the data that we want. Can be DB or CSV-->
		<add key="ENV_LOCATION" value="CSV" />
		
		<!--Environments list if ENV_LOCATION is CSV-->
		<add key="ENVIRONMENTS_LIST_TABLE" value="environment_list.csv" />

		<!--Azure DevOps Organization name-->
		<add key="ORG_NAME" value="csc-ddsb" />
    
		<!--Azure DevOps Default project name-->
		<add key="PROJECT_NAME" value="AutomationAndAccessibility"/>
	  
		<!-- Azure DevOps user must be a name with a DevOps account-->
		<add key ="DefaultTesterName" value = "HP.UFT"/>
		<add key ="DefaultTesterEmail" value ="UFT@ontario.ca"/>

		<!--MailJet for sending emails, from Levon-->
		<add key ="EMAIL_SENDER" value = "uft@ontario.ca"/>

		<!--Emails list indicates the users that emails should be sent to-->
		<add key ="EMAILS_LIST" value =""/> 

		<!--Indicates whether to report results to DevOps-->
		<add key="DEVOPS_REPORT_ENABLED" value="true"/>
	  
		<!--Azure DevopsPAT for authenticating into DevOps-->
		<add key="DEVOPS_PAT_TOKEN" value="***" />
		
		<!--Proxy information for Azure DevOps-->
		<add key ="DEVOPS_PROXY_SERVER" value ="http://gdc.proxy.gonet.gov.on.ca"/>
		<add key ="DEVOPS_PROXY_PORT" value = "3128"/>
		<add key ="DEVOPS_PROXY_USERNAME" value = "food"/>
		<add key ="DEVOPS_PROXY_PASSWORD" value = "bar"/>

		<!--This parameter indicates whether to create a smoke or regression folder in devops-->
		<add key="DEVOPS_CREATE_SMOKE_REGRESSION_FOLDER" value="false"/>
		
		<add key="MJ_APIKEY_PUBLIC" value="352517e5daa23aca302e1fdc2457929b" />
		<add key="MJ_APIKEY_PRIVATE" value="148a06a8a0aa2636b1053207cd61456e" />

		<!-- Selenium PerfXML-->
		<add key="passwordEncrypted" value ="false"/>
		<add key="WarningThreshold" value="120" />

		<!-- The timeoutthreshold is used when one doesn't exist in ALM. For instance, for Excel-->
		<add key="TimeOutThreshold" value="30" />

		<!--Local timeouts with Excel-->
		<add key="ExcelLocalTimeout" value="30" />
		<add key="ExcelLocalAttempts" value="3" />

		<!--Maximum number of consecutive failed test cases allowed. aka MAX FAILURES-->
		<add key="MaxConsecutiveFailedTestCases" value="3" />

		<!-- The following are xpath values used for clicking and validations for the action on objects-->
		<add key="XPATH_IGNORE_LIST" value="innerText,innerHTML,outerText,outerHTML" />
		<add key="WebEdit_HTMLTags" value="input,textarea" />
		<add key="WebButton_HTMLTags" value="input,button" />
		<add key="WebRadioGroup_HTMLTags" value="input,select" />
		<add key="WebCheckBox_HTMLTags" value="input,select" />
		<add key="Links_HTMLTags" value="a,div,span" />
		<add key="Image_HTMLTags" value="img" />
		<add key="WebElement_HTMLTag" value="*" />
		<add key="WebTable_HTMLTag" value="table" />
		<add key="Frames_HTMLTag" value="iframe" />
		<add key="WebList_HTMLTag" value="select" />

		<!-- Run AODA -->
		<add key="RespectRunAodaFlag" value ="false"/>
		<add key="RespectRepeatFor" value ="true"/>
		<!-- Can indicate Version of AODA test to run: 2.0 or 2.1. Default is 2.1 -->
		<add key="AODAVersion" value ="2.1"/>
		<!-- Can indicate whether best practices should be added in test or not. Default is true. -->
		<add key="BestPractices" value ="false"/>
		<!-- Can indicate whether sorting should be done by time reported, or the default (page url)-->
		<add key="SortByTimeReported" value ="false"/>

		<!-- Indicates whether to generate a HTML report-->
		<add key="GenerateHTMLReport" value ="true"/>

		<!--For mobile emulation testing-->
		<add key="ListTypeOfExecutions" value="mobile,tablet,desktop,extended-desktop,max"/>
		<add key="ExecutionType" value ="max"/>

		<!-- Special Elements xpath selectors -->
		<add key="LoadingSpinner" value="//*[@id='loadingspinner']" />
		<add key="ErrorContainer" value="//div[@class='alert alert-danger']" />

		<!--Location of the data file-->
		<add key="DATA_FILES_FOLDER" value ="collection_files"/>
		
		<!--Temporary files location. Previously in C://TEMP but does not work when multiple pcs-->
		<add key="TEMPORARY_FILES_FOLDER" value="temporary_files"/>

		<!--Debug Mode will stop the executions when failing (must be run locally using DEBUG)-->
		<add key="DebugMode" value="false"/>

		<!--Team email for users to contact for questions/concerns-->
		<add key="TEAM_EMAIL" value="edu.l.csc.ddsb.qa.regression@msgov.gov.on.ca"/>

		<add key="MaxLoops" value ="1"/>

		<!--Environment URLs added by Victor-->
		<add key="N/A" value="https://www.google.com"/>

		<!-- Actual Timeout is in minutes. -->
		<add key="ActualTimeOut" value="5"/>

		<!-- Wait amount in seconds between attempts. -->
		<add key="WAIT_TIME_BETWEEN_ATTEMPTS" value="30"/>

		<!-- Set whether to run in incog mode or not. -->
		<add key="INCOGMODE" value="true"/>

		<!-- Enable headless or not headless mode. -->
		<add key="HEADLESS_MODE" value="true"/>

		<!-- Whether we are going to use the current test suite or create a new test set. -->
		<add key="CREATE_NEW_TEST_SUITE" value="false"/>

		<!-- Set for the time in ms to wait between button clicks. -->
		<add key="CLICK_BUTTON_WAIT_TIME" value="3500"/>
	  
		<!--Report Portal Link-->
		<add key="REPORT_PORTAL_ENABLE" value="false"/>
		<add key="REPORT_PORTAL_API" value="#{REPORT_PORTAL_API_DEFAULT_USER}#"/>
	    <add key="REPORT_PORTAL_PROJECT" value="***"/>
		<add key="REPORT_PORTAL_URL" value="http://on44c03529884:8080/"/>

		<!--Selenoid Integration or Selenium Grid Integration when using Remote browsers-->
		<add key="SElENIUM_GRID_PORT" value="http://on44c03529884:8089"/>
		<add key="SELENIUM_GRID_ENABLE_VIDEO" value="true"/>

		<!--Ollama Integration-->
		<add key="OLLAMA_ENABLE" value="false"/>
		<add key="OLLAMA_PORT" value="http://on44c03380165:11434"/>
		<add key="OLLAMA_MODEL" value="llama3:latest"/>
		<add key="OLLAMA_TEXT_PROMPT" value="Conduct Root Cause Analysis on the following test result file: "/>

		<!--Whether to highlight elements-->
		<add key="HighlightFoundElements" value="true"/>
		<add key="HighlightColour" value="green"/>

		<!--Email Service to use. Either Mailjet or Ms Graph-->
		<add key ="EMAIL_PROVIDER" value ="Graph"/>

		<!--Binaries location (See more at AutoUpdater)-->
		<add key="BinaryLocation" value="C:\Automation\Browsers"/>

		<!-- Database Connection Strings-->
		<add key="DBHost" value="cscgikdcdbora48.cihs.gov.on.ca"/>
		<add key="DBPort" value="1521"/>
		<add key="DBServiceName" value="RVDEV1"/>
		<add key="DBUserId" value="qa_automation"/>
		<add key="DBPassword" value="qaauto"/>

		<add key="DBEnvDatabase" value ="QA_AUTOMATION.TEST_ENVIRONMENTS"/>
		<add key="DBTestCaseDatabase" value ="QA_AUTOMATION.TESTCASE"/>

		<add key="NetworkPath" value ="\\csc.ad.gov.on.ca\DFS$\GrpData\ESIP\"/>

		<!-- ALM Connection Settings-->
		<add key="ALMusername" value="apikey-fsttpnmlgsbskmfglqio" />
		<add key="ALMpassword" value="paoabeellgcibiko" />
		<add key="ALMdomain" value="Data_Collections" />
		<add key="ALMproject" value="DATA_COLLECTIONS" />
		<add key="ALMURL" value="https://almcsc.saas.microfocus.com/qcbin" />

		<!-- Configurations for MicroFocus ALM -->
		<add key="HOST_NAME" value="almcsc.saas.microfocus.com/qcbin"/>
		<add key="TEST_LAB_MOUDLE_ID" value="000000003649890581"/>
		<add key="Test Set Target Cycle" value="CY_ASSIGN_RCYC"/>
		<add key="Test Set Baseline" value="CY_PINNED_BASELINE"/>
		<add key="Test Set Description" value="CY_COMMENT"/>
		<add key="Test Environment" value="CY_USER_01" />
		<add key="Global TimeOut" value="CY_USER_02" />
		<add key="Global Attempts" value="CY_USER_03" />
		<add key="Test Case Version" value="CY_USER_04" />
		<add key="Automation Database" value="CY_USER_05" />
		<add key="Automation Library Version" value="CY_USER_06" />
		<add key="Application" value="CY_USER_07" />
		<add key="Application Collection" value="CY_USER_08" />
		<add key="Browser" value="CY_USER_09" />
		<add key="BrowserVersion" value="default" />
		<add key="Build Number" value="CY_USER_11" />
		<add key="Responsible Tester" value="TC_TESTER_NAME"/>

		<!-- Keychain accounts list info-->
		<add key="KeychainAccountsFilePath" value="\\csc.ad.gov.on.ca\DFS$\GrpData\ESIP\ESIP\EDCS QA\QTP\TEST KCQA user accounts\KeychainAccounts2023.xls"/>

		<!-- Set to true to read from keychain file, false to read from key vault-->
		<add key="KeychainFileFlag" value="false"/>

		<!-- Set to true to update keychain file with key vault password-->
		<add key="KeychainFileOverWrite" value="true"/>
		
		<!-- Key Vault configurations-->
		<add key="Credential Vault" value="qa-dev-sc"/>
		<add key="KeyVault ClientId" value="25bc4f7b-2c9e-4c13-9ffc-3ff55e140cfd"/>
		<add key="KeyVault TenantId" value="cddc1229-ac2a-4b97-b78a-0e5cacb5865c"/>
		
		<!-- Value should be the name of an env variable that will ALWAYS exist in an azure Pipeline-->
		<add key="Pipeline Variable" value="KvSecret"/>
		
		<!-- Microsoft Graph configurations-->
		<add key="Graph ClientId" value="ff7dffbb-d0f6-48b3-a51c-1a44a2ebc7b5"/>
		<add key="Graph TenantId" value="cddc1229-ac2a-4b97-b78a-0e5cacb5865c"/>
		<add key="User Email" value="uft@ontario.ca"/>
	</appSettings>
</configuration>