<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="CHROME_BINARIES" value="https://googlechromelabs.github.io/chrome-for-testing" />
		<add key="CHROME_BINARIES_2" value="https://chromedriver.storage.googleapis.com" />
		<add key="CHROME_DRIVERS" value="https://googlechromelabs.github.io/chrome-for-testing" />
		<add key="CHROME_DRIVERS_2" value="https://chromedriver.storage.googleapis.com/chrome-for-testing" />
		
		<add key="EDGE_BINARIES" value="" />
		<add key="EDGE_DRIVERS" value="https://msedgedriver.azureedge.net" />
		<add key="EDGE_DRIVERS_2" value="https://developer.microsoft.com/en-us/microsoft-edge/tools/webdriver/?form=MA13LH"/>
		
		<add key="FIREFOX_BINARIES" value="https://ftp.mozilla.org/pub/firefox/releases" />
		<add key="FIREFOX_DRIVERS" value="https://github.com/mozilla/geckodriver/releases/download" />
		<add key="FIREFOX_DRIVERS_2" value="https://github.com/mozilla/geckodriver/releases/download" />
	</appSettings>
</configuration>