<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>

		<!-- Can indicate Version of AODA test to run: 2.0 or 2.1. Default is 2.1 -->
		<add key="AODAVersion" value ="2.1"/>
		
		<!-- Can indicate whether best practices should be added in test or not. Default is true. -->
		<add key="BestPractices" value ="false"/>
		
		<!-- Can indicate whether sorting should be done by time reported, or the default (page url)-->
		<add key="SortByTimeReported" value ="false"/>

	</appSettings>
</configuration>